a:link {
  color:#530417;
}

a:visited {
  color:#aa828c;
}

a:hover, a:active {
  background: #3e0311;
  color:#EEE6E8;
}

body {
  font-family: "Georgia", serif;
  font-size: 100%;
}

h1, h2, h3 { color: #530417; }
h1, h2 { text-align:center; }
h1 { font-size: 2.37em; }
h2 { font-size: 1.777em; }
h3 { font-size: 1.333em; }
h1 a:link, h1 a:visited {
  text-decoration: none;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  font-size: 177.77%;
  list-style: upper-roman;
  padding: 0;
  margin-left: 1.5em;
}
ol ol {
  font-size: 75%;
  font-weight: normal;
  list-style: upper-alpha;
}
ol ol ol {
  font-size: 75%;
  list-style: decimal;
}
ol ol ol ol {
  font-size: 75%;
  list-style: lower-alpha;
}
ol ol ol ol ol {
  font-size: 75%; 
  list-style: lower-roman;
}

#pagefooter {
  color: #D4A3B1;
  margin-top: 3em;
  text-align: center;
  font-size: 0.75em;
}

#pagewrapper {
  width: 640px;
  margin: auto;
  padding: 1% 0 3%;
}
