a:link {
  color:#530417;
}

a:visited {
  color:#aa828c;
}

a:hover, a:active {
  background: #3e0311;
  color:#EEE6E8;
}

body {
  font-family: sans-serif;
  font-size: 101%;
}

h1, h2, h3 { color: #530417; }
h1, h2 { text-align:center; }
h1 a:link, h1 a:visited {
  text-decoration: none;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol {
  font-size: 24px;
  list-style: upper-roman;
  padding: 0;
  margin-left: 1.5em;
}
ol ol {
  font-size: 18px;
  font-weight: normal;
  list-style: upper-alpha;
}
ol ol ol {
  font-size: 16px;
  list-style: decimal;
}
ol ol ol ol {
  font-size: 14px;
  list-style: lower-alpha;
}
ol ol ol ol ol {
  font-size: 12px;
  list-style: lower-roman;
}

#pagefooter {
  color: #D4A3B1;
  margin-top: 3em;
  text-align: center;
  font-size: 0.6em;
}

#pagewrapper {
  width: 600px;
  margin: auto;
  padding: 1% 0 3%;
}
